<div class="container">
 test dettes ok !
  <p>perseeDate pipe: {{"2023-06-08" | perseeDate}}</p>
  <lib-federated remoteEntry="http://localhost:4202/remoteEntry.js"
                 exposedModule="SharedComponentFromCreance"
                 componentName="SharedComponent"></lib-federated>
</div>
<h1>{{'HELLO' | translate}}</h1>
<h1>{{'TEST_SHELL' | translate}}</h1>
