<div class="container">
  <div class="shared-body">
    <p>{{testInput}}</p>
    <p>coucou</p>
    <form>
      <div class="form-group">
        <label>Libellé :</label>
        
        <input
          type="text"
          placeholder="libellé dettes"
          data-e2e="FORM_FIELD__NAME"
        />
      </div>
    </form>
</div>
</div>
