<div>
  <h1>Dettes search : </h1>
  <div *ngIf="!getStoredData() else selectedData">
    <input [(ngModel)]="searchCriteria">
    <button (click)="searchDette()">Search</button>
  </div>
</div>
<ng-template #selectedData>
  <h2>{{searchCriteria}} <button (click)="clear()">Clear</button></h2>
</ng-template>
